run = "bundle exec jekyll serve --host=0.0.0.0 --livereload --watch"
hidden = [".bundle"]
entrypoint = "index.md"

[env]
JEKYLL_ENV = "replit"

[nix]
channel = "stable-22_11"

[packager]
language = "ruby"

[packager.features]
packageSearch = true
guessImports = true

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "README.md"]

[languages]

[languages.ruby]
pattern = "**/*.rb"

[languages.ruby.languageServer]
start = "solargraph stdio"

[deployment]
deploymentTarget = "static"
publicDir = "_site"
build = ["sh", "-c", "bundle exec jekyll build"]

[[ports]]
localPort = 4000
externalPort = 3000

[[ports]]
localPort = 35729
externalPort = 80
