---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.call-to-action {
    margin: 13px 25px;
    padding: 0 10px;
    font-size: 18px;
    height: 38.4px;
    line-height: 38.4px;
    box-shadow: none;
    -webkit-transition-property: background;
    transition-property: background;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    background: #a4ebfc;
    text-shadow: none;
    border: none;
    border-radius: 3px;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    text-align: center;
}

.site-title {
    img {
        height: 1.5em;
        padding: .5em 0;
    }

    a {
        line-height: 1em;
    }
}
